<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script type=text/javascript>
function get_predicted_trades() {
            $.getJSON($SCRIPT_ROOT+"/_get_predicted_trades",
                function(data) {
                     $.each(data.items, function( index, item ) {
                        console.log(item)
                        $('#trades > tbody').prepend(
                        '<tr>'
                        +'<td>' + item.name +'</td>'
                        +'<td>' + item.average_price.toString() + '</td>'
                        +'<td>' + (item.average_price - item.price).toString() + '</td>'
                        +`<td> @${item.owner_name} Hi, I would like to buy [${item.name}] for ${item.price} ${item.price_units} in ${item.league}. (tab "${item.stash_name}") </td>`
                        +'</tr>'
                        );
                     });
                    setTimeout(get_predicted_trades, 1000);
                });
        }
        setTimeout(get_predicted_trades, 1000);
</script>
<table id="trades" style="width:100%">
  <thead>
  <tr>
    <th>Item</th>
    <th>Average Price</th>
    <th>Predicted Profit</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

</body>
</html>